@model KamilaReveloExamenProgreso1.Models.KRmodelo1

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles Registro</h1>

<div>
    <h4>KRmodelo1</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WithTea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WithTea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegristo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegristo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="KREdit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="KRIndex">Back to List</a>
</div>
